.logo {
    width: 200px;
    top: 20px;
}

nav {
    background-color: black;
    width: 100%;
}

nav li {
    color: #f599b1;
    display: inline;
    margin: 0 0 0 20px;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
}