@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    background-color: #000000;
    color: #f599b1;
    font-family: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*nav*/
nav {
    background-color: #000000;
    height: auto;
    width: 100%;
    transition: ease 0.5s;
}

.box-header {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.img-logo {
    width: 150px;
    padding: 10px;
}

.nav-li {
    display: inline-block;
}

.nav-li a {
    color: #f599b1;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav-li a:hover {
    color: #fef2f5;
}

/*banner*/
section {
    padding: 100px 200px;
}

.text-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f599b1;
    font-family: "Lato", sans-serif;
    color: #f599b1
}

.text-container::before {
    z-index: 777;
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-mobile {
    display: none;
}

.container {
    z-index: 888;
    width: 80%;
    margin-top: 50px;
}

.text-container h1 {
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-top: 40px;
}

.text-container p {
    margin-bottom: 65px;
}

.media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.media-icons a {
    color: #f599b1;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.media-icons a:hover {
    transform: scale(1.3);
}


/*biography*/
.biography {
    padding: 25px 200px;
    background-color: #f599b1;
    color: #000000;
    transition: ease 0.5s, color 0.5s, ease-out 0.5s;
}

.container-bio h2 {
    font-size: 2.5em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-top: 40px;
}

.container-bio ul {
    list-style: none;
    padding: 20px;
}

.container-bio li {
    padding: 5px 0;
}

.container-bio p {
    margin-bottom: 65px;
}



/*mobile*/
@media screen and (max-width: 768px) {
    .box-header {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .img-logo {
        width: 150px;
    }

    .nav-li a {
        padding: 10px 10px;
    }

    /*text-container*/
    .text-container {
        padding: 100px 20px;
    }

    video {
        width: auto;
    }
}

@media screen and (max-width: 425px) {
    .video-mobile {
        display: block;
    }



    }

    .media-icons {
        right: 15px;
    }

    .text-container h1 {
        font-size: 2.5em;
        line-height: 50px;
        padding: 100px 20px;
    }


/*desktop*/
@media (max-width: 1024px) {
    .container {
        width: 90%;
    }

    .text-container h1 {
        padding: 100px 20px;
    }
    
    .media-icons {
        right: 15px;
    }


}
